h1{
  color: whitesmoke;

}
.btn{
  border-radius: 300px;
  font-weight: 700;
  text-transform: uppercase;
}
.btn-xl{
  padding: 1rem 2rem;
}
.btn-primary{
     background-color: #F05F44;
     border-color: #F05F44;

}
.btn-primary:hover{
  box-shadow: 2px 3px 9px red;
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width:4px;
}
hr{
  
  border: 3px solid orange;
  max-width: 65px;
  margin-left: auto;
  margin-right: auto;
}
.buffer{
  height: 2rem;
}